body {
  font-family: sans-serif;
  margin-left: 25px;
}

ul {
  font-size: 18px;
}

.service {
  margin-top: 12px;
}

.name__service {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 12px;
}

.desciption__service {
  margin-bottom: 24px;
}

.list-group {
    margin-bottom: 20px;
    padding-left: 0
}

.list-group-block {
    display: flex;
    align-items: center;
}

.list-group-item {
    position: relative;
    display: block;
    margin-bottom: -1px;
    background-color: #fff;
}

.list-group-item:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px
}

a.list-group-item,button.list-group-item {
    color: #555
}

a.list-group-item .list-group-item-heading,button.list-group-item .list-group-item-heading {
    color: #333
}

a.list-group-item:focus,a.list-group-item:hover,button.list-group-item:focus,button.list-group-item:hover {
    text-decoration: none;
    color: #555;
    background-color: #f5f5f5
}

.form_item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 1200px;
}

.title_items {
  text-decoration: none;
  color: gray;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
}

.remove_item {
  text-decoration: none;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  margin-left: 25px;
  cursor: pointer; 
}

.field_to_new_item {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  margin-right: 25px;
  padding-left: 12px;
  width: 270px;
  height: 36px;
  text-decoration: none;
  font-size: 21px;
  font-family: sans-serif;
  border: 1px solid black;
}


.field_to_new_checkbox {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    margin-right: 25px;
    padding-left: 12px;
    width: 36px;
    height: 36px;
    text-decoration: none;
    font-size: 21px;
    font-family: sans-serif;
    border: 1px solid black;
}

.btn_ok {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  background: #dddddd;
  font-size: 14px;
  font-family: "OpenSans", arial, sanf-serif;
  font-weight: bold;
  text-align: center;
}

.btn_ok:hover {
  background: #ccc;
}

.title__new_user {
  text-decoration: none;
  color: gray;
}

.form_list {
  display: block;
  width: 894px;
  height: 300px;
  margin-left: 28px;
  border: 2px solid green;
  border-width: 1px;
  border-radius: 5px;
  flex-direction: column;
  padding: 5px 5px 5px 5px;
  box-sizing: border-box;
}

.container {
  width: 880px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-left: 155px;
}

.blocks{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.block{
  width: 250px;
  margin-bottom: 16px;
}

.progessBar {
  height: 1rem;
  width: 0%;
  background-color: rgb(68, 212, 231);
  color: white;
  padding:2px
}

.file-upload {
  box-shadow: 2px 2px 2px 2px #ccc;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  font-size: 1rem;
}

input , div , button{
  margin-top: 2rem;
}

.upbutton {
   width: 5rem;
   padding: .5rem;
   background-color: #2767e9;
   color: aliceblue;
   font-size: 1rem;
   cursor: pointer;
}






h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(232,235,235,0.8);
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(232,235,235,0.8);
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;

  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;

  border-bottom: solid 1px rgba(232,235,235,0.8);
}


/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

section{
  margin: 50px;
}


/* follow me template */
.made-with-love {
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #fff;
}
.made-with-love i {
  font-style: normal;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: #fff;
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
